* {
  font-family: Roboto, sans-serif !important;
}
.section-light {
  background-color: #f9f9f9; /* a very light gray, just enough contrast from white */
  padding: 20px 0;
  transition: background-color 0.3s ease;
}

header {
  box-sizing: border-box;
}
.input-field::placeholder {
  color: rgba(0, 0, 0, 0.5); /* reduce opacity */
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
